{
  "extends": "react",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
     "indent": ["error", 2],
     "no-unused-expressions": [0],
     "semi": ["error", "never"]
  }
}
