{
  "extends": "react",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
     "indent": ["error", 2],
     "no-unused-expressions": [0]
  },
  "globals": {
    "describe": true,
    "it": true
  }
}
